.hll { background-color: #000033 }
.c { color: #bf7f7f; font-style: italic } /* Comment */
.err { border: 1px solid #00ffff } /* Error */
.k { color: #ff7fff; font-weight: bold } /* Keyword */
.o { color: #999999 } /* Operator */
.cm { color: #bf7f7f; font-style: italic } /* Comment.Multiline */
.cp { color: #4385ff } /* Comment.Preproc */
.c1 { color: #bf7f7f; font-style: italic } /* Comment.Single */
.cs { color: #bf7f7f; font-style: italic } /* Comment.Special */
.gd { color: #5fffff } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #00ffff } /* Generic.Error */
.gh { color: #ffff7f; font-weight: bold } /* Generic.Heading */
.gi { color: #ff5fff } /* Generic.Inserted */
.go { color: #777777 } /* Generic.Output */
.gp { color: #ffff7f; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #7fff7f; font-weight: bold } /* Generic.Subheading */
.gt { color: #ffbb22 } /* Generic.Traceback */
.kc { color: #ff7fff; font-weight: bold } /* Keyword.Constant */
.kd { color: #ff7fff; font-weight: bold } /* Keyword.Declaration */
.kn { color: #ff7fff; font-weight: bold } /* Keyword.Namespace */
.kp { color: #ff7fff } /* Keyword.Pseudo */
.kr { color: #ff7fff; font-weight: bold } /* Keyword.Reserved */
.kt { color: #4fffbf } /* Keyword.Type */
.m { color: #999999 } /* Literal.Number */
.s { color: #45dede } /* Literal.String */
.na { color: #826fd6 } /* Name.Attribute */
.nb { color: #ff7fff } /* Name.Builtin */
.nc { color: #ffff00; font-weight: bold } /* Name.Class */
.no { color: #77ffff } /* Name.Constant */
.nd { color: #55dd00 } /* Name.Decorator */
.ni { color: #666666; font-weight: bold } /* Name.Entity */
.ne { color: #2dbec5; font-weight: bold } /* Name.Exception */
.nf { color: #ffff00 } /* Name.Function */
.nl { color: #5f5fff } /* Name.Label */
.nn { color: #ffff00; font-weight: bold } /* Name.Namespace */
.nt { color: #ff7fff; font-weight: bold } /* Name.Tag */
.nv { color: #e6e883 } /* Name.Variable */
.ow { color: #55dd00; font-weight: bold } /* Operator.Word */
.w { color: #444444 } /* Text.Whitespace */
.mb { color: #999999 } /* Literal.Number.Bin */
.mf { color: #999999 } /* Literal.Number.Float */
.mh { color: #999999 } /* Literal.Number.Hex */
.mi { color: #999999 } /* Literal.Number.Integer */
.mo { color: #999999 } /* Literal.Number.Oct */
.sb { color: #45dede } /* Literal.String.Backtick */
.sc { color: #45dede } /* Literal.String.Char */
.sd { color: #45dede; font-style: italic } /* Literal.String.Doc */
.s2 { color: #45dede } /* Literal.String.Double */
.se { color: #4499dd; font-weight: bold } /* Literal.String.Escape */
.sh { color: #45dede } /* Literal.String.Heredoc */
.si { color: #449977; font-weight: bold } /* Literal.String.Interpol */
.sx { color: #ff7fff } /* Literal.String.Other */
.sr { color: #449977 } /* Literal.String.Regex */
.s1 { color: #45dede } /* Literal.String.Single */
.ss { color: #e6e883 } /* Literal.String.Symbol */
.bp { color: #ff7fff } /* Name.Builtin.Pseudo */
.vc { color: #e6e883 } /* Name.Variable.Class */
.vg { color: #e6e883 } /* Name.Variable.Global */
.vi { color: #e6e883 } /* Name.Variable.Instance */
.il { color: #999999 } /* Literal.Number.Integer.Long */
