<footer class="site-footer">
  <br />
  <br />
  <div class="wrap" align="center">
    Powered by
    <a href="https://www.debian.org/">
      <img src="https://www.debian.org/logos/button-1.gif"
	   alt="Debian" height="20" /></a>.
    <br />
    Content released
    <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.en_US">
      <img src="https://licensebuttons.net/l/by-nc-sa/4.0/88x31.png"
	   alt="CC-by-nc-sa" height="20" /></a>
    with any code
    <a href="https://gnu.org/licenses/gpl.html">
      <img src="https://upload.wikimedia.org/wikipedia/commons/9/93/GPLv3_Logo.svg"
	   alt="GPLv3" height="20" /></a>, except where noted.
  </div>
</footer>
